.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 4rem 2rem 0 2rem;
    margin-left: 20rem;
    transition: margin-left var(--layout-section-transition-duration);
    width: calc(100% - 20rem);
    border-left: 1px solid #D9D9D9;
    min-height: 1180px;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
